* {
  box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
     overflow-x: hidden;
}
.herosection {

    background-color: #faf5f3;
   
    width: auto;
    height: auto;

}
.firsthero {
    display: flex;
    justify-content: center;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    width: 1200px;
}
.logo {
font-family: "Volkhov", serif;
font-size: 24px;
}
.logoicon {
 margin-left: 4px;
 width: 20px;
}
.nav li {
    display: inline-block;
    margin-right: 10px;
  
}
.btn1 {
    color: #FA7436 ;
padding: 10px 30px ; 
margin: auto 2px;  
 border: none;
  background: none;
  outline: none;
font-size: larger;
}
.btn2 {
    background-color: #FA7436 ;
    color: white;
padding: 10px 30px ; 
margin: auto 2px;  
 border: none;
font-size: larger;
border-radius: 5px ;
box-shadow: 2px 21px 36px -7px rgba(250,116,54,0.42);
-webkit-box-shadow: 2px 21px 36px -7px rgba(250,116,54,0.42);
-moz-box-shadow: 2px 21px 36px -7px rgba(250,116,54,0.42);
 
}
.btn3 {
       color: #FA7436 ;
padding: 10px 30px ; 
margin: auto 2px;  
 border: 2px solid #FA7436; 
 border-radius: 5px;
  background: none;

font-size: larger;
}
.middlehero{

     display: flex;
    justify-content: space-between;
  
    height: 400px;
    width: 1200px;
   margin: 50px auto;
}
.content {
    width: 520px;

}
.title { 
font-family: "Volkhov", serif;
font-size: 64px;
font-weight: 200;
}
.picture {
     width: 700px;
     height:  550px;
      position: relative; 
         max-width: 500px;
      
    overflow: hidden;
}
.bannerman {
    width: 500px;
      position: absolute;
}
.bgplane {
    position: absolute;
}
p {
    font-size: 20px;
    color: #666666;
}
.box {
    background-color: white;
    box-shadow: 11px 11px 56px 2px rgba(0,0,0,0.29);
-webkit-box-shadow: 11px 11px 56px 2px rgba(0,0,0,0.29);
-moz-box-shadow: 11px 11px 56px 2px rgba(0,0,0,0.29);
/* position: relative; */
position: absolute;
border-radius: 10px;
display: flex;
width: 120px;
height:auto;
align-items: center;
padding-left: 2px;
justify-content: space-between;
gap: 8px;
}
.box >p {
    font-size: 12px  ;
    /* padding: 2px 4px; */
    color: #444444;
    font-weight: 500;
 
}

.text-group {
    /* display: flex;
    flex-direction: column;  */
    padding: auto;
      /* align-items: center; */
    margin-top: 4px;
}
.lasthero {
 background-color: white;
 margin-top: 150px;
 padding: 5px 10px;
 border-radius: 10px;
 display: flex;
margin-bottom: 50px;
 align-items: center;
 justify-content: space-between;
    width: 800px;
    margin: 150px auto 50px auto;
}
.part {
    margin: 10px;
    padding: 10px;
    margin-right: 30px;

}
.sectiontwo {
    display: flex;
    justify-content: center;
    background-color: #F7F8FC;
   
    /* width: auto; */
    height: 700px;

}
.sectionthree {
    display: flex;
    justify-content: center;
    background-color: #faf5f3;
   
    /* width: auto; */
    height: 800px;

}
.frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}
.heading {
    font-family: "Volkhov", serif;
font-size: 40px;
font-weight: 200;
margin-bottom: 5px;
}
.boxs1 {
    width: 300px;
    height: 280px;
    
    margin-top: 20px;
    padding: 30px;
    border-radius: 10px;
 background-color: white;
box-shadow: 2px -2px 112px 2px rgba(0,0,0,0.16);
-webkit-box-shadow: 2px -2px 112px 2px rgba(0,0,0,0.16);
-moz-box-shadow: 2px -2px 112px 2px rgba(0,0,0,0.16);

}
.boxs {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.cards {
    display: flex;
    gap: 10px;

}
.card {
    width: 270px;
    height: 425px;
    border: 2px solid #afafaf;
    border-radius: 10px;
    
}
.line1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
      margin: auto 5px ;
}
.rstar   {
    display: flex;
        align-items: center;
}
.line2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  margin: auto 5px  ;
}

.price {
display: flex;
align-items: center;
}
.location {
    display: flex;
    align-items: center;
    gap: 6px;
}
.description {
    height: 80px;
    padding: auto 10px;
}
.swipearrow {
    display: flex;
    justify-content: center;
     align-items: center;
     gap: 10px;
}
.leftarrow {
    width: 40px;
    height: 40px;
    /* background-color: #FA7436; */
    border: 2px solid #c2c1c1;
    border-radius: 100%;
  
   padding: 10px;
   margin: 40px auto;
}
.rightarrow {
    width: 40px;
    height: 40px;
    background-color: #FA7436;
 
    border-radius: 100%;
    
   padding: 10px;
   margin: 40px auto ;
}
.decorimg {
    position: relative;
    top:5%;
    left: 30%;
}




.cardplans {
  display: flex;
  gap: 20px;
  margin-bottom: 100px;
}

.plan {
  width: 370px;
  border: 1.5px solid #d3d3d3; 
  border-radius: 12px;

  background: white;
    overflow: hidden;
}

.plan-img {
  width: 370px;
     background-size: cover;
  background-position: center;  
  background-repeat: no-repeat;
  border-radius: 10px;
}


.caption {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

.caption h4 {
  margin: 0;
  font-weight: 500;
}

.price {
  color: #FA7436;
  font-weight: 600;
}
.caption,
.caption2 {
  padding: 12px;
}
.caption2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.share,
.rstar {
  display: flex;
  align-items: center;
  gap: 6px;
}

.share img,
.rstar img {
  width: 18px;
  height: 18px;
}

.caption2 p {
  margin: 0;
  font-size: 12px;
}
.sectionfive {
  background-color: #F7F8FC;
}

.parts5 {
  display: flex;
  justify-content: space-between;
  gap: 100px;
 margin: 100px auto;
  align-items: center;
}

.commentcard {
  position: relative;
  width: 400px;   
}


.c1 {
  width: 100%;
  padding: 20px;
  background-color: white;
  box-shadow: 11px 11px 56px 2px rgba(0,0,0,0.29);
  border-radius: 10px;

  position: absolute;
  top: -80px;
  left: -30px;   
  z-index: 10;
}


.c2 {
  width: 100%;
  padding: 20px;
  background-color: #ededed;
  border-radius: 10px;

  position: relative;
  z-index: 1;
}


.dp {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  left: -15px;
}
.sectionsix {
     display: flex;
    justify-content: center;
    background-color: #faf5f3;
}
.cards6 {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}
.description6 {
margin: auto 5px;
}
.swipecir {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin: 20px;
}
.cirg {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #afafaf;
}
.ciror {
  width: 14px;
  height: 14px;
  border-radius: 100%;
background-color: #FA7436;

}
.orbox {
  width: 1170px;
  height: 416px;
  border-radius: 16px;
  background-color: #FA7436;
  display: flex;
  flex-direction: column;
 align-items: center;
 position: relative;
   overflow: hidden;
 
}
.sixcontent {
  width: 710px;
   text-align: center;
   padding: 20px;
   margin: 20px auto;
   position: relative;
     overflow: hidden;

}
.searchbar {
  margin: 75px auto;
  width: 675px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sectionseven {
     display: flex;
    justify-content: center;
    background-color: #faf5f3;
}
.round-img {
  position: absolute;
  top: 100px;    
  left: 8px;   

}
.footer {
      display: flex;
    justify-content:center;
    gap: 100px;
    background-color: #faf5f3;
}
.icons {
  display: flex;
  gap: 20px;
}
.icon-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25); 
  cursor: pointer;
}
.lists {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
   width: 1200px;
   margin:50px;
}
.list2 {
  display: flex;
  gap: 80px;
 
}
.lastline {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  
}
.footer hr {
  border: none;
  border-top: 1px solid #d3d3d3;
  margin: 20px 0;
  width: 100%;
}
.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.swipearrow :hover {
  background-color: #fc8650;
  cursor: pointer;
}
.swipearrow :hover {
  background-color: #fc8650;
  cursor: pointer;
}
.btn2:hover {
  background-color: #fc8650;
  cursor: pointer;
}
